.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-title{
  background-color: black;
  opacity: 0.8;
  padding: 10px !important;
  border-radius: 30px 30px 30px 0px;
}

div#dev-card{
  display: inline-block;
}

div#dev-card-main{
  width: 256px;
  height: 320px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card .card-image img {
  height: 256px;
  width: auto;
}

blockquote{
  font-size: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
